[Desktop Entry]
Name=Platonix - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=platonix --open-url %U
Icon=platonix
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/platonix;
Keywords=platonix;
